
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import "tailwindcss";

/* Hide scrollbar for modern browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
<<<<<<< Updated upstream
/* hide scrollbar in all modern browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
=======



.font-urbanist {
  font-family: 'Urbanist', sans-serif;
}

.font-libre {
  font-family: 'Libre Franklin', sans-serif;
}





>>>>>>> Stashed changes